* {
    margin: 0;
    padding: 0;
}

:root {                                /*Global variable */
    --color: rgb(191, 52, 98);      
    --seccolor: rgb(191, 141, 149);
    
}

.nav {
    /* background-color: rgb(73, 193, 73); */
    background-color: var(--color);
}

.container {
    /* background-color: rgb(143, 185, 143); */
    background-color: var(--seccolor);
}

.nav ul {
    display: flex;
}

.nav ul li {
    list-style: none;
    padding: 15px;
}

.nav ul li:first-child {            /* Local variable */
    --color: rgb(211, 83, 32);  
    background-color: var(--color);
}